:root {
  --primary-color: #427bc0;
  --letter-spacing: 1px;
  --transition: 0.2s;
}

/* -- HEADER -- */

.three-image-container {
  display: grid;
  grid-template-columns: 600px 300px;
  grid-template-rows: 200px 200px;
  gap: 10px;
}

.three-image-container .four-july {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.three-image-container .four-july img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.four-july-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  text-align: end;
  text-transform: uppercase;
  padding: 10px 30px;
  bottom: 0;
  right: 0;
}

.four-july-info p:first-child {
  font-size: 20px;
  max-width: 200px;
  letter-spacing: var(--letter-spacing);
  align-self: end;
}

.four-july-info .orders-parag {
  font-size: 18px;
  letter-spacing: var(--letter-spacing);
}

.four-july-info h3 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: var(--letter-spacing);
}

.four-july-info h2 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: var(--letter-spacing);
}

.four-july-info .validation-date {
  font-size: 9px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: var(--letter-spacing);
}

.four-july-info button {
  align-self: end;
  color: var(--primary-color);
}

.wireless-efficiency {
  position: relative;
}

.wireless-efficiency-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  width: 120px;
  text-align: center;
  color: #fff;
  bottom: 0;
  right: 0;
  padding: 10px 0px;
  font-size: 14px;
}

.wireless-efficiency-info button {
  color: #c1352c;
  margin-top: 20px;
}

.wireless-efficiency-info button:hover {
  background-color: #c1352c;
  color: #fff;
}

.protective-equipment {
  position: relative;
}

.protective-equipment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.protective-equipment-info h3 {
  font-size: 20px;
  font-weight: 800;
  color: #203e6b;
  margin-bottom: 25px;
  background-color: #fff;
  text-align: center;
  padding: 10px 20px;
  width: 260px;
  border-radius: 50px;
  border: 6px solid #afdaf6;
}

.services-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin-top: 15px;
}

.services-container .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  max-width: 115px;
  gap: 10px;
}

.services-container .service-mobile {
  display: none;
  text-transform: uppercase;
  max-width: 115px;
  gap: 10px;
}

.services-container .service h4 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(95, 95, 95);
  text-align: center;
}

.services-container .service-mobile h4 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(95, 95, 95);
  text-align: center;
}

.services-container .service img {
  width: 100%;
  object-fit: cover;
}

.services-container .service-mobile img {
  width: 100%;
  object-fit: cover;
}

.services-container .service button {
  width: 100%;
}

.services-container .service-mobile button {
  width: 100%;
}

/* -- HEADER MEDIA QUERIES -- */

@media (max-width: 960px) {
  .three-image-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .three-image-container .four-july,
  .three-image-container .wireless-efficiency,
  .three-image-container .protective-equipment {
    width: 100%;
  }

  .three-image-container .img-container img {
    width: 600px;
    height: 200px;
    object-fit: cover;
  }

  .three-image-container .four-july {
    grid-row: 1 / 2;
  }

  .three-image-container .four-july-info {
    padding: 20px;
  }

  .three-image-container .four-july-info p, .four-july-info h3, .four-july-info h2 {
    display: none;
  }

  .three-image-container .four-july-info .secondary-button {
    display: block;
  }

  .three-image-container .wireless-efficiency-info {
    margin: 10px 20px;
  }

  .three-image-container .wireless-efficiency-info img{
    width: 20px;
    height: 30px;
  }

  .protective-equipment-info {
    width: 600px;
  }

  .services-container {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .three-image-container .img-container {
    width: 100%;
  }

  .three-image-container .img-container img:not(#high-voltage-img){
    width: 100vw;
  }

  .protective-equipment-info {
    width: 100%;
  }

  .services-container {
    flex-direction: column;
  }

  .service img {
    max-height: 100px;
  }

  .services-container .service {
    display: none;
  }

  .services-container .service-mobile {
    display: flex;
    max-width: 100%;
    padding: 10px 0px;
    margin: 0px 30px;
  }

  .services-container .service-mobile:not(.service-mobile:last-child) {
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .services-container .service-mobile img {
    width: 80px;
    height: 100px;
    border-radius: 4px;
  }

  .service-mobile button {
    width: fit-content;
    margin-top: 3px;
    color: var(--primary-color);
    background-color: transparent;
    padding-left: 0px;
    text-align: left;
    font-weight: 700;
  }

  .service-mobile div {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
}